{
  "presets": [
    [
      "next/babel"
      // {
      //   "preset-env": {},
      //   "transform-runtime": {},
      //   "styled-jsx": {},
      //   "class-properties": {}
      // }
      // {
      //   "styled-jsx": {
      //     "plugins": ["styled-jsx-plugin-sass"]
      //   }
      // }
    ]
  ],
  "plugins": [
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "libraryDirectory": "es",
    //     "style": "css" // `style: true` 会加载 less 文件
    //   }
    // ],
    [
      "import",
      {
        "libraryName": "antd",
        // "style": "less"
        "style": true
      }
    ]
    // ["lodash"],
    // ["@babel/plugin-transform-runtime"]
  ]
}

// [
//   "import", {
//     "libraryName": "react-use",
//     "libraryDirectory": "lib",
//     "camel2DashComponentName": false
//   }
// ]
