.btn-m1 {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 14px 0px;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0px;
  border-radius: 7px;
  background: rgb(37, 37, 37);
  padding: 0px 2rem;
  cursor: pointer;
}
.btn-m2 {
  margin: 0;
  border-radius: 7px;
  color: white;
  background: #0070f3;
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
  padding: 0 2rem;
  height: 2.5rem;
  line-height: 2.5rem;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
