.v-btn {
  display: inline-block;
  border-radius: 7px;
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
  color: white;
  margin: 10px 16px;
  padding: 8px;
  text-align: center;
}

.btn-x-blue {
  display: inline-block;
  margin: 4px;
  padding: 6px 8px;
  border-radius: 7px;
  color: white;
  background: #0070f3;
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
  /* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15); */
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.btn-x-gray {
  display: inline-block;
  margin: 4px;
  padding: 6px 8px;
  border-radius: 7px;
  color: white;
  background: rgb(37, 37, 37);
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 14px 0;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
