.IconCardAdBoundsBox,
.RechangeJulyPopups,
.layout-Player-announce,
.DiamondsFansRankList-anniversary,
.DiamondsFansRankList-policyText,
.CoinRedPacketPop-wrap,
#js-room-activity,
.PlayerToolbar-ContentRow:nth-of-type(2),
/**.PlayerToolbar-ContentRow,*/
/**.layout-Player-toolbar,*/
/**#js-player-toolbar,*/
Treasure, ActBase, js-room-activity {
    display: none !important;
}
.layout-Player-rank {
    display: block !important;
}
.layout-Player-rank,
.ChatRank {
	height: 60px;
}
/*
.PlayerToolbar {
  padding: 0;
}
*/

#js-player-toolbar {
  height: 30px !important;
}
.ChatRankWeek-listItem,
.FansMedalBox,
.Barrage-listItem,
.Barrage--paddedBarrage,
.DiamondsFansRankList-anniversary,
.DiamondsFansRankList-nickName,
.DiamondsFansRankList-policyText,
.PlayerToolbar,
.js-user-level {
	margin: 0 !important;
 	padding: 0 !important;
}
.Barrage-notice--normalBarrage {
	padding: 0 !important;
	font-size: 12px;
}
/**/

.layout-Player-video {
  bottom: 0px !important;
}
#js-player-video {
    bottom: 30px !important;
}
/**/
