#player-gift-wrap,
#wrap-ext,
#chat-room__list > div:first-child,
#tipsOrchat,
.room-profileNotice,
div[class*="box-noble-level-"],
#wrap-income,
#player-subscribe-wap {
  display: none !important;
}
#player-wrap {
  height: 100% !important;
}
#player-ctrl-wrap {
  bottom: 0 !important;
}
span.colon,
.msg-normal {
  padding: 0 !important;
  margin: 0 !important;
}
